.thubnail {
  transform:translate(-38%, -38%) scale(0.2)
}

.browser{
  border: 1px solid gray;
  display:flex;
  flex-direction: column;
  height: 630px;
  width: 100%;
  position: relative;
  overflow: auto;
  border-radius: 5px;

  .nav-bar {
    display:flex;
    height: 30px;
    background-color: darkgrey;
    width:100%;

    .icon {
      border-radius: 50%;
      border:0.3px solid;
      width: 14px;
      height: 14px;
      min-height: 14px;
      min-width: 14px;
      margin-left: 7px;
      margin-top: 7px;

      &.red {
        background-color:red;
      }

      &.yellow {
        background-color:yellow;
      }

      &.green {
        background-color:green;
      }

    }

    .url {
      width: 80%;
      background-color: white;
      height:20px;
      min-height:20px;
      margin-top: 4px;
      margin-left: 30px;
    }

  }

}