.title {
  margin-top:10px !important;
}

.main-container {
   margin-top: 18px;
   display:flex;

  .left {
    width:20%;
    padding-left: 10px;
    padding-right: 10px;

    .palet-container {
      border:1px solid grey;
      border-radius:3px;
      padding: 17px;

      .form-elem {
        border:1px solid grey;
      }

    }
  }

  .right {
    width:80%;
  }



  .resize {
    background-color: #727272;
    width: 10px;
    height: 10px;
    cursor: se-resize;
    position:absolute;
    right: 0px;
    bottom: 0px;
  }
}

