.title {
  margin-top:10px !important;
}

.main-container {
   margin-top: 18px;
   display:flex;

  .left-panel {
    width: 210px;
    min-width: 210px;


    .palet-container {
      border:1px solid grey;
      border-radius:3px;
      padding: 4px;
      overflow:auto;

      .form-elem {
        border:1px solid grey;
      }

    }
  }

  .center-panel {
    width:80%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .right-panel {
    width:20%;
    > div {
      border:1px solid;
    }
  }

}

